$verde: #3DAEAD;

.slide-container {

    border: solid;
    width: 100%;    
    display: flex;
    height: max-content;    
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    background-color: black;
    padding: 2rem;
    
}

.image-container .row1,
.image-container .row2 {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    
}

.image-container .row1 div,
.image-container .row2 div {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    
    
}


.image-container {
    display: flex;    
    height: 14rem;
    
}



.image-container div img {

    width: 8rem;
    margin: auto;
}

.image-container div p {
    color: white;
    height: 60%;
}

.slider-image {
    float: left;
    margin: 0;
    padding: 0;;
}

.button-container {
    
    text-align: center;    
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: -3.5rem;
    width: 100%;
    
}

.button-container a {
    
    margin-top: 2rem;
    display: none;
}

.slider-button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}





@media (max-width: 881px) { 
    
    .button-container {
        display: flex;        
        width: 12%;
    }
    
    .button-container a {
        
        background-color: $verde;
        display: block;
    }

    .image-container {
        display: inline;
    }

    .image-container .row1 div,
    .image-container .row2 div {
        display: flex;
        flex-direction: column;
        height: 12rem;
        
        
}

    .image-container .row1 div p,
    .image-container .row2 div p {
        margin: 1rem;       
    }

    #slider-image-1:target ~ .row1 {

        display: none;        
        
    }
    
    #slider-image-2:target ~ .row2 {       
     
        display: none;
        
    
    }

    .slide-container {
        
        height: 18rem;
        
    }
    
   
}

@media (max-width: 649px) { 

    .row1,
    .row2 {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        
    }

    .button-container { 

        margin-top: -3.5rem; 
        
    }   
    
    .image-container .row1 div,
    .image-container .row2 div {
        align-items: center;
        width: 100%;        
    }

    .slide-container {
        height: 30rem;
        
    }   

}

@media (max-width: 400px) { 

    .slide-container {
        height: 40rem;
    }

    .image-container {        
        height: 33rem;
    }

    .image-container .row1 div,
    .image-container .row2 div {
        height: 15rem;     
        
    }

    .button-container { 

        margin-top: -6.5rem; 
        
    } 


}
