<div class="image-container">     
    
      
    <div class="row1">
        <div>            
            <img src="../../../../assets/PCG_Logo_HiRes.jpg"  class="slider-image"alt="">
            <p>
                "Offering real-world performance data is a great idea,
                    and makes the process of ordering a PC much less abstract for newcomers that pick..."
            </p>    
        </div>
            
        <div>    
            <img src="../../../../assets/techradar.png"  class="slider-image"alt="">
            <p>"BLD removes all the guesswork when it comes to building the 
                gaming PC for YOU. Their machines are fast, beautiful, and competitive..."                    
            </p>    
        </div>
    </div>
    
    
    <div class="row2">
        <div>
            <img src="../../../../assets/logo_site_kotaku.png" class="slider-image" alt="">
            <p>"There's something lovely about having a PC that comes with a set of guaranteed 
                predicted frames-per-second targets for the games i planned..."
            </p>                
        </div>

        <div>    
            <img src="../../../../assets/techradar.png"  class="slider-image"alt="">
            <p>"This is certainly a very neat idea, and the company is putting its money where 
                its mouth is redaring the frame-rate estimations."
            </p>    
        </div>
    </div>
   
</div>

