$verde: #3DAEAD;

.image-container {

    border: solid;
    width: 100%;    
    display: flex;
    height: max-content;    
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
    background-color: black;
    padding: 2rem;
    border: solid black;    
    
}

.image-container .row1,
.image-container .row2 {
    display: flex;    
    justify-content: space-around;
    align-items: center;
    
}

.image-container .row1 div,
.image-container .row2 div {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;   
    
}


.image-container div img {

    width: 8rem;
    margin: auto;
}

.image-container div p {
    color: white;
    height: 60%;
}

/*Medias queries*/

@media (max-width: 581px) { 

    .image-container .row1,
    .image-container .row2 {

        flex-direction: column;
        height: 50%;
    }
 
    .image-container .row1 div,
    .image-container .row2 div {

        width: 90%;
    }
 
    .image-container {

     flex-direction: column;
     height: 55rem;
     justify-content: space-around;

    }   
 
 }

@media (max-width: 881px) { 
    
  
    .image-container {
        flex-direction: column;        
    }    
   
}

