<footer>

    <div class="main-info">

        <div class="info-right">
            <div class="products">
                <h4>Products</h4>
                <ul>
                    <li>Cases</li>
                    <li>Cooling</li>
                    <li>Motherboards</li>
                    <li>Lighthing</li>
                    <li>Accessories</li>
                    <li>Power</li>
                </ul>
            </div>
    
            <div class="how-to">
                <h4>How to</h4>
                <ul>
                    <li>Guides</li>
                    <li>Blog</li>
                    <li>Build Galleries</li>
                    <li>Join Team NZXT</li>                
                </ul>
            </div>
    
            <div class="contact">
                <h4>Contact</h4>
                <ul>
                    <li>Contact Us</li>
                    <li>Customer Services</li>
                    <li>Creat a Ticket</li>
                    <li>Company</li>                
                    <li>Founder Q&A</li>                
                    <li>Careers</li>                
                    <li>News</li>                
                    <li>AM4 Bracket</li>                               
                </ul>
            </div>
        </div>

       <div class="info-right">
            <div class="store-misc">
                <div class="store">
                    <h4>Store</h4>
                <ul>
                    <li>Find a Retailer</li>
                    <li>Warranty</li>
                    <li>Shipping & Deliveries</li>
                    <li>Returns & Exchanges</li>                
                                                
                </ul>
                </div>

                <div class="misc">
                    <h4>Misc</h4>
                <ul>
                    <li>Log In</li>
                    <li>Sign Up</li>                      
                                                
                </ul>
                </div>
            </div>

            <div class="pc-monitoring">
                <h4>PC Monitoring</h4>
                <ul>
                    <li>CAM</li>
                    <li>Support</li>
                    <li>Give Feedback</li>
                    <li>Change Log</li>                
                    <li>Cam Powered Products</li>                
                    <li>Download</li>                
                </ul>
            </div>

            <div class="bld-services">
                <h4>BLD Services</h4>
                <ul>
                    <li>BLD</li>
                    <li>What is BLD</li>
                    <li>Customer Reviews</li>
                    <li>Support</li>                
                    <li>FAQ</li>                
                    <li>Customer Support</li>                
                    <li>Create a Ticket</li>                
                    <li>Warranty</li>                
                    <li>Shipping & Deliveries</li>                
                    <li>Return & Exchanges</li>                
                    <li>Refurbished Builds</li>                                
                </ul>
            </div>
       </div>

    </div>


     

    <div class="stay-in-touch">
        <h1><span>stay</span> in touch</h1>
        <form action="">
            <input type="text" placeholder="Your Email Address">
        </form>
    </div>
    
    <div class="bottom-side">
        <div class="bottom-logo ">
            <img src="../../../../assets/logo-nzxt.png" alt="">
            <h5>
                2018. All Rights Reserved.
            </h5>
        </div>

        <div class="privacy-icons">
            <div class="privacy">
                <h5>Privacy Police</h5>
                <h5>Terms of Service</h5>
                <div class="language">
                    <img src="../../../../assets/flag.png" alt="">
                    <select name="" id="">
                        <option value="">English</option>
                    </select>
                </div>
            </div>
    
            <div class="icons">
                <div>
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <i class="fa fa-twitch" aria-hidden="true"></i>
                    <i class="fa fa-steam" aria-hidden="true"></i>
                    <i class="fa fa-reddit" aria-hidden="true"></i>
                    <i class="fa fa-flickr" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div> 

    
    
</footer>
