<div class="container-fluid top-header">
    <img class="logo-black" src="../../../../assets/logo-nzxt-black.png" width="30" height="30" alt="">
    <div class="login-singup">
        <a>LOG IN</a>
        <a>SIGN UP</a>
    </div>
</div>

<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="#">
        <img class="logo-white" src="../../../../assets/logo-white.png" width="30" height="30" alt="">
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">WHAT IS BLD <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CUSTOMER REVIEWS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">SUPPORT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">FAQ</a>
        </li>
       
        
      </ul>
      <form class="form-inline my-2 my-lg-0">        
        <button class="btn btn-get-started my-2 my-sm-0" type="submit">GET STARTED</button>
      </form>
    </div>
  </nav>