<header class="container-fluid ">
    <img class="logo-black" src="../../../../assets/logo-nzxt-black.png" width="30" height="30" alt="">
    <div class="login-singup">
        <a>LOG IN</a>
        <a>SIGN UP</a>
    </div>
</header>

<nav class="navbar navbar-expand-xl navbar-light ">
    <a class="navbar-brand" href="#">
        <img class="logo-white" src="../../../../assets/logo-white.png" width="30" height="30" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">what is bld </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">customer reviews</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">support</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">faq</a>
        </li>      
        <div class="animation start-what"></div>
      </ul>
      <form >        
        <button class="btn btn-get-started my-2 my-sm-0" type="submit">GET STARTED</button>
      </form>
    </div>
  </nav>