$verde: #3DAEAD;

/** STAR HEADER **/

header{
    display: flex;
    justify-content: space-between;
    height: 2.9rem;
}

header .logo-black{
    width: 4.4rem;
    height: 1rem;
    margin-left: 2.2rem;
    margin-top: 1.4rem;
}

header .login-singup{
    
    margin-top: 1.1rem;
    font-size: 0.8rem;
    width: 7rem;
    margin-right: 2rem;
    display: flex;
    justify-content: space-around;
}

header .login-singup a {
    font-size: .6rem;
    color: $verde;    
    
}

header .login-singup a:hover {
    cursor: pointer;
}

/**NAVBAR**/


nav{
    background-color: $verde;
    
}

nav button {
    border-color: transparent;
}







nav .logo-white {
    width: 5.2rem;
    margin-left: 2rem;
}


nav .btn-get-started {
    border: white solid 1px;
    color: white;
    margin-right: 2rem;    
    width: 10rem;
}

nav .btn-get-started:hover {
    background-color: white;
    color: $verde;    
    
}

nav .navbar-collapse .navbar-nav {

    flex-direction: row;
    width: 28rem;
    justify-content: space-around;
}


nav .navbar-collapse .navbar-nav .nav-item {
    text-align: center;    
    width: max-content;
    
}

nav .navbar-collapse .navbar-nav .nav-link {
    color: white;
    font-weight: 400; 
    font-size: 14px;   
    text-transform: uppercase;
    position: relative;
}


nav .navbar-collapse .animation {
    position: absolute;
    height: .2rem;    
    bottom: .2rem;
    z-index: 0;
    background-color: white;
    border-radius: 8px;
    transition: all .5s ease 0s;
    
}

nav .nav-item:nth-child(1) {
    width: 5rem;     
    
    
    
}
nav .start-what, .nav-item:nth-child(1):hover~.animation{
    width: 6rem;
    left: 10rem;    
    
}


nav .nav-item:nth-child(2) {
    width: 9rem;
    

}

.start-customer, .nav-item:nth-child(2):hover~.animation{

    width: 9rem;
    left: 17.5rem;
    
}

nav .nav-item:nth-child(3) {

    width: 4rem;
    left: 38.7rem;
    
    
}
nav .start-support, .nav-item:nth-child(3):hover~.animation{

    width: 4rem;
    left: 28rem;
    
}

nav .nav-item:nth-child(4) {
    width: 3rem;
        
}

nav .start-faq, .nav-item:nth-child(4):hover~.animation{

    width: 3rem;
    left: 33.5rem;
    
}

@media (max-width: 991.98px) { 

    nav .navbar-collapse .animation {
        display: none;
    }

   
    
    nav .navbar-collapse {
        padding-bottom: 1rem;
    }

    nav .navbar-collapse .navbar-nav {

        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 12rem;
    }

    nav .navbar-collapse form {

        text-align: center ;
        width: 20rem;        
        margin: auto;

    }

    nav .navbar-collapse form button  {

        margin: auto ;

    }
 }
 