$verde: #3DAEAD;
$gris: #626A6F;

section {
    
    background-size: cover;
    background-color: #212121; 
}

section .dark-container {
    height: 100vh;    
    background: url("../../../../assets/bg.png");  
    background-repeat: no-repeat;
    background-size: cover;   
    display: flex;
    justify-content: center;
    align-items: center;
}   

section .gaming-pc-info{    

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;    
    margin: 2rem auto;
    width: max-content;
    
}

.btn-move {
    animation: MoveUpDown 6s linear infinite;
    
    left: 58%;
    bottom: 0;
  }
  
  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 20px;
    }
  }

section .gaming-pc-info .desktop-purple img{
    
    width: 29rem;
    margin: 2rem;   
    
}    

section .gaming-pc-info .details {
    
    display: flex;
    flex-direction: column;    
    height: 25rem;
    
}

section .gaming-pc-info .details .bld-img {

    width: 25rem;
}

section .gaming-pc-info .details .bld-img img{
          
    padding: 1rem;
    
}

section .gaming-pc-info .details .bld-img h5{
    
    color: white;
    text-align: right;
    width: 16rem;
    margin-top: -1rem;    
    
}

section .gaming-pc-info .details .bld-img img {
    
    width: 23rem;
    padding: 0;
}

section .gaming-pc-info .details .bld-text {
    
    width: 21rem;
    margin-top: 2rem;
    
}

section .gaming-pc-info .details .bld-text h1 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    width: 14rem;    
    
}

section .btn-green {

    width: 10rem;
    padding: 0.8rem;
    margin-top: 1rem;
    border-radius: 3px;
    background-color: #3DAEAD;
    text-transform: uppercase;
    color: white;
    border: none;
    font-size: .7rem;
    text-align: center;
}

section .btn-green:hover{
    cursor: pointer;
    background-color: white;
    color:$verde;
    box-sizing: border-box;
}

section .gaming-pc-info .details .bld-text {
    
    color: white;
    
}

/*SECOND SECTION*/


.spects {
    display: flex;
    justify-content: center;
    align-items: center;        
    background-color: $gris;   
    height: max-content;
    padding: 4rem;
}

main .spects-type {
    
    display: flex;
    justify-content: space-around;
    width: 50%;           
    align-items: center;      
}

main .spects-type article {
    
    display: flex; 
    flex-direction: column;    
    text-align: center;
    color: white;
    height: 22rem;
    width: 50%;
    
}

main .spects-type article a {
    width: max-content;
    margin: auto;
}

main .spects-type article a:hover {
    color: $verde;
    transition: ease .3s;
}

main .spects-type article .img-spect img {
    
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;    
    
}


main .spects-type article:hover img {
    
    -webkit-transition: -webkit-transform .9s ease-in-out;   
    transform: rotateY(360deg);
    transform-style: preserve-3d;
    
}



main .spects-type article .info {
    
    width: 15rem;
    margin: auto;
    
}

main .spects-type article img:hover {
    
    cursor: pointer;
    
}

main .spects-type article .info:hover {
    
    cursor: pointer;
    
}

main .spects-type article .info h1 {
    text-transform: uppercase;
    font-size: 2rem;    
    
}

main .spects-type article div p {
    font-size: 1rem;
    width: 90%;
    height: 5rem;    
    margin: 1rem auto;
}

main .spects-type article a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}



/*SECOND GAMES*/

section .games {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}

section .games .ninjas{
    background-image: url('../../../../assets/ninja-player.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}

section .games .battle {
    background-image: url('../../../../assets/Group9.jpg');
    background-repeat: no-repeat;
    background-size: cover;       
}

section .games .battle,
section .games .ninjas{
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
    border-bottom: solid white 4px;
    text-transform: uppercase;
    
}

section .games .ninjas div,
section .games .battle div {
    text-align: center;
}

section .games .ninjas div img,
section .games .battle div img {
   margin-top: 2rem;
}

section .games .ninjas div a,
section .games .battle div a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    
}


.experience {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 2rem;
    width: 96%;
    margin: auto;
}

section .built {
    display: flex;
    flex-direction: column;
}



section .built .title h1 {
    text-transform: uppercase;
    width: 29rem;
    font-weight: 400;
}

section .built .experience-text p {
    width: 28rem;
}

section .built .btn-learn {
    border: solid 1px $verde;
}



section .black-style img{
    
    width: 24rem;
    
}


/*Refurbished info*/

.refurbished-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $verde;
    height: 15rem;
}

.refurbished-info h1 {
    
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.refurbished-info .btn-secondary {
    color: black;
    background-color: white;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    margin-top: .5rem;
}

.refurbished-info .btn-gray:hover {
    background-color: $gris;
    color: white;    
}






/*Media queries*/


@media (max-width: 455px) {

    section .built .title h1 {
        font-size: 1rem;
        font-weight: bold;
    }

    section .built .experience-text {
        width: 24rem;
        margin: auto;
    }

    section .black-style img{
    
        width: 18rem;
        
    }

    .refurbished-info h1 {
    
       font-size: 2rem;
    }
    
    .refurbished-info .btn-secondary {
        width: 12rem;
    padding: 0.5rem;

    }

}


@media (max-width: 856px) {

    .experience {
        flex-direction: column;
    }

    section .built {
        text-align: center;
        height: 20rem;
    }

    section .built .btn-green {
        margin: auto;
    }   

    section .built .title h1 {
        margin: auto;
    }
    
    section .built .experience-text p {
        width: 20rem;
        margin: auto;
    }


}


@media (max-width: 991px) { 
/** STAR FIRST SECTION**/
    section .gaming-pc-info .details .bld-img {         
       
       text-align: right;
    } 

   
    section .gaming-pc-info .details { 
        
        align-items: center;
    }

    section .gaming-pc-info .details .bld-img h5{       
       
        width: 18rem;                 
    }

    section .gaming-pc-info .details .bld-text h1 {        
                  
        margin: .5rem auto;         
    }

    section .gaming-pc-info .details .bld-text div  {        
       
        width: 100%;       
        text-align: center;       
    }


  
 }

 @media (max-width: 927px) { 
     /** STAR FIRST SECTION**/

    section .gaming-pc-info {

        display: flex;
        flex-direction: column;        
        margin-top: 5rem;
    }

    section .gaming-pc-info .desktop-purple img{
    
        width: 18rem;
        margin: 2rem;          
    }

    section .gaming-pc-info .details .bld-img img {
        width: 20rem;
    }

    section .gaming-pc-info .details .bld-text h1 {
                  
        margin: .5rem auto; 
        font-size: 1.5rem;
        text-align: center;
        
    }

    
    
}



@media (max-width: 1230px) { 

    .spects {
        flex-direction: column;
        padding: 4rem 0rem;
    }
    
    main .spects-type {
        
        width: 80%;        
    }

    main .spects-type {
        margin-bottom: 2rem;
    }

    main .spects-type article div p {
        
        width: 16rem;
        
    }   

}


@media (max-width: 700px) { 

    main .spects-type {
        
        flex-direction: column;  
        justify-content: space-between;
        height: 45rem;      
    }

    main .spects-type article {
        
        width: 100%;
        height: 20rem;
        margin-bottom: 1rem;
    }

    main .spects-type article .img-spect img {
        margin: 0;
    }   

}

@media (max-width: 1203px) { 

    section .games {
        flex-direction: column;
        height: 100%;
        
    
    }

    section .games .ninjas{
           
        border-bottom: none;
    }
}

@media (max-width: 601px) {                     
        
    section .games .ninjas div h1,
    section .games .battle div h1 {

        font-size: 1.5rem;
        
    }   

    section .games .ninjas div img,
    section .games .battle div img {
        width: 15rem;
    }
        
}  
