<section class="gaming-pc">

    <div class="dark-container">

        <div class="gaming-pc-info">
            <div class="desktop-purple">
                <img src="../../../../assets/H500i_White Black new- hGPU-Purplelight.png" alt="">
            </div>
            
            <div class="details">
                <div class="bld-img">
                    <img src="../../../../assets/logo-white.png" alt="">
                    <h5>By <span>NZXT</span></h5>
                </div>
                <h1>gaming pc's made simple</h1>
                <p>Choose a game, set a budget and we'll BLD it</p>
                <button>Get started</button>
            </div>    
        </div>

    </div>
    
</section>
