<section class="gaming-pc">

    <div class="dark-container">

        <div class="gaming-pc-info">
            <div class="desktop-purple">
                <img src="../../../../assets/H500i_White Black new- hGPU-Purplelight.png" alt="">
            </div>
            
            <div class="details">
                <div class="bld-img">
                    <img src="../../../../assets/logo-white-bigger.png" alt="">
                    <h5>By <span>NZXT</span></h5>
                </div>
                <div class="bld-text">
                    <h1>gaming pc's made simple</h1>
                    <p>Choose a game, set a budget and we'll BLD it</p>
                    <div>
                        <button class="btn-green">Get started</button>
                    </div>
                </div>
            </div>    
        </div>

    </div>
    
</section>

<main class="spects">

    <div class="spects-type">
        <article>
            <div class="img-spect">
                <img src="../../../../assets/build-ico.png" alt="">
            </div>
            <div class="info">
                <h1>Tailored for games</h1>
            </div>
            <div>
                <p>We've done the research and our algorithm takes care of the rest.</p>
            </div>
            <a href="">learn more <i class="fa fa-angle-right"></i></a>

        </article>

        <article>
            <div class="img-spect">
                <img src="../../../../assets/glass.png" alt="">
            </div>
            <div class="info">
                <h1>Transparent pricing</h1>
            </div>
            <div>
                <p>Customize your build with our curated parts with straight forward pricing and a flat $99 assembly fee.</p>
            </div>
            <a href="">learn more <i class="fa fa-angle-right"></i></a>
        </article>
    </div>

    <div class="spects-type">
        <article>
            <div class="img-spect">
                <img src="../../../../assets/2year-ico.png" alt="">
            </div>
            <div class="info">
                <h1>All-in-one warranty</h1>
            </div>
            <div>
                <p>All components under one warranty plan - NZXT will manage any problems for you.</p>
            </div>
            <a href="">learn more <i class="fa fa-angle-right"></i></a>
        </article>
    
        <article>
            <div class="img-spect">
                <img src="../../../../assets/shipping-ico.png" alt="">
            </div>
            <div class="info">
                <h1>48-hour turnaround</h1>
            </div>
            <div>
                <p>Get in the game quickly.</p>
            </div>
            <a href="">learn more <i class="fa fa-angle-right"></i></a>
        </article>
    </div>

</main>

<section>

   <div class="games">

    <div class="ninjas">
        <div>
            <h1 class="my-0">ninjas fortnite build</h1>
            <a href="">learn more <i class="fa fa-angle-right"></i></a>
        </div>
        <div>
            <img src="../../../../assets/Group99.png" alt="">
        </div>
    </div>

    <div class="battle">
        <div>
            <h1 class="my-0">Limited edition pubg case</h1>
            <a href="">learn more <i class="fa fa-angle-right"></i></a>
        </div>
        <div>
            <img src="../../../../assets/Player-Unknown-Battlegrounds-Logo.png" alt="">
        </div>
    </div>

   </div>


</section>

<section class="experience">
    
    <div class="built">
        <div class="title">
            <h1>Built by experts, with a eye for design</h1>
        </div>

        <div class="experience-text">
            <P>NZXT has more that 12 years of experience developing award winning,
                high-quality PC components. By using the very best components, assembled by highly-trained builders,
                we, can deliver a meticulously crafted gaming PC, backed by a comprehensive 2-year warranty.
            </P>
        </div>

        <a class="btn-green" >Learn more</a>
    
    </div>
    
    <div class="black-style">
        <img src="../../../../assets/footer-pc.png" alt="">
    </div>
    
</section>

<section class="refurbished-info">
    <h1>check out deals on refurbished build</h1>
    <a class="btn btn-secondary">LEARN MORE</a>
</section>
