$verde: #3DAEAD;

section {
    height: 100vh;
    background-size: cover;
    background-color: #2b2f34;
}

section .dark-container {
    height: 100vh;    
    background: url("../../../../assets/bg.png") no-repeat;
    background-size: 100% 100%;
    
    
}   

section .gaming-pc-info{

    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 7rem 11rem;
}

section .gaming-pc-info .details {
    padding: 1rem 1.2rem;
    
}

section .gaming-pc-info .details .bld-img {
    
    width: 17rem;
}

section .gaming-pc-info .desktop-purple img{
    width: 36rem;
}

section .gaming-pc-info .details h5 {
    text-align: right;
    color: white;
    margin-top: -1rem;
}

section .gaming-pc-info .details h5 span {
    text-transform: uppercase;
    color: white;
    font-weight: 800;
}

section .gaming-pc-info .details img {

    width: 17rem;
}

section .gaming-pc-info .details h1 {
    text-transform: uppercase;
    color: white;
    width: 30rem;
    font-weight: 400;
    padding: 3.5rem 0rem 0rem 0rem; 
    font-size: 3.5rem;
    
}

section .gaming-pc-info .details p{
    color: white;
    font-size: 1.5rem;
    font-weight: 300;

}

section .gaming-pc-info .details button{

    width: 13rem;
    padding: .8rem;
    border-radius: 8px;
    background-color: $verde;
    border: none;
    color: white;
    text-transform: uppercase;
    margin-top: 2rem;
}