$verde: #3DAEAD;
$gris: #626A6F;

/*BLD GAMING PC'S MADE SIMPLE*/
.dark-container {
    background-size: cover;
        background-color: #212121; 
}   


.gaming-pc {
    
    width: 100%;
    display: flex;
    background-color: #212121;     
    background: url("../../../../assets/bg.png");  
    background-repeat: no-repeat;
    background-size: cover;
}



.gaming-pc .desktop-purple {

    width: 50%;    
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    

}

.gaming-pc .desktop-purple img {

    width: 50%;
    
}

.gaming-pc .details {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding: 2rem;
    
}

.gaming-pc .details .bld-img {

    width: 40%;
}

.gaming-pc .details .bld-img img {
    width: 100%;
}

.gaming-pc .details .bld-img h5 {
    
    width: 88%;
    text-align: right;
    margin: 0;
    color: white;
    margin-top: -1rem;
}

.gaming-pc .details .bld-text {
    
    width: 56%;
}

.gaming-pc .details .bld-text h1 {

    text-transform: uppercase;
    color: white;
    font-weight: 400;

}

.gaming-pc .details .bld-text p {

    color: white;
}

.gaming-pc .details .btn-get-started {
    
    width: 30%;

}

.gaming-pc .details .btn-get-started button,
.experience .built div button {
    
    width: 100%;
    padding: 0.8rem;
    border-radius: 3px;
    background-color: $verde ;
    text-transform: uppercase;
    color: white;
    border: none;
    font-size: .7rem;
    text-align: center;
}

.gaming-pc .details .btn-get-started:hover button,
.experience .built div:hover button {

    cursor: pointer;
    background-color: white;
    color:$verde;    
    border: solid 1px $verde;
    transition: ease .5s;
}




/*SPECTS SECTION*/


.spects {
    display: flex;
    
    width: 100%;
    background-color: $gris;
    padding: 2rem;

}

.spects .spects-type {

    display: flex;
    
    width: 50%;

}

.spects .spects-type article {
    
    
    width: 50%;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.spects .spects-type article .info {
    
    
    width: 50%;
    
}
.spects .spects-type article .info h1{
    
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.9rem;
    margin-top: 1rem;
}

.spects .spects-type article .spects-text {
    width: 73%;
    margin-bottom: 1rem;
}

.spects .spects-type article div p{

    color: white;    
    margin: auto;    
    text-align: center;
    width: 90%;
    font-size: 0.8rem;
    
}

.spects .spects-type article a {
    color: white;
    text-transform: uppercase;
}

.spects .spects-type article .img-spect img {
    
    width: 4rem;
    height: 4rem;
    
}

.spects-type article:hover img {

        
        -webkit-transition: -webkit-transform .9s ease-in-out;   
        transform: rotateY(360deg);
        transform-style: preserve-3d;
        
}

.spects .spects-type article a:hover {
    color: $verde;
    transition: ease .3s;
}



/* GAMES*/

.games {
    display: flex;
    justify-content: center;    
    
}

.games .ninjas{
    background-image: url('../../../../assets/ninja-player.jpg');
    background-repeat: no-repeat;
    background-size: cover;    
}

.games .battle {
    background-image: url('../../../../assets/Group9.jpg');
    background-repeat: no-repeat;
    background-size: cover;       
}

.games .battle,
.games .ninjas{
    
    width: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;    
    text-transform: uppercase;
    
}

.games .ninjas div,
.games .battle div {
    text-align: center;
}

.ames .ninjas div img,
.games .battle div img {
   margin-top: 2rem;
}

.games .ninjas div a,
.games .battle div a {
    text-decoration: none;
    color: white;
    font-size: .8rem;
    
}

.games .ninjas div a:hover,
.games .battle div a:hover {

    color: $verde;
    transition: ease .3s;
    
}


/*SECTION BUILT BY EXPERTS*/

.experience {

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: auto;
    padding: 2rem;
}

.experience .built {

    padding: 2rem;   
    display: flex;
    flex-direction: column;    
   
}

.experience .built .learn-btn {
    width: 34%;
}


.built .title h1 {
    text-transform: uppercase;
    width: 29rem;
    font-weight: 400;
}

.built .experience-text p {
    width: 28rem;
}


.black-style img{
    
    width: 24rem;
    
}

 /*REFURBISHED BUILDS*/

.refurbished-info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $verde;
    height: 15rem;
}

.refurbished-info h1 {
    
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.refurbished-info .btn-secondary {
    color: black;
    background-color: white;
    border: none;
    width: 15rem;
    padding: 0.8rem;
    margin-top: .5rem;
}

.refurbished-info .btn-gray:hover {
    background-color: $gris;
    color: white;    
}




/*MEDIA QUERIES*/


@media (max-width: 375px) {    

    .gaming-pc .desktop-purple {
       
        
        width: 100% !important;
        
    
    }

    .gaming-pc .desktop-purple img {
        
        width: 100%;
        
    }

    .gaming-pc .details .bld-img {
        
        width: 90%;
    }

    .gaming-pc .details .bld-text {

        width: 100%;
        text-align: center;
    }

    .gaming-pc .details .bld-text p {

        font-size: .9rem;
    }

    .games .ninjas div img,
    .games .battle div img {
        width: 90%;
    }

}

@media (max-width: 411px) {

    .gaming-pc .desktop-purple img {
        
        width: 100%;
        
    }

    .gaming-pc .desktop-purple  {

        padding: 2rem 2rem 0rem 2rem;
    }

    .spects .spects-type {

        flex-direction: column;
        align-items: center;
    }

    .spects .spects-type article .img-spect img {
        
        width: 5rem;
        height: 5rem;
        
    }

    .spects .spects-type article {

        width: 100%;
        padding: 1rem 0rem 1rem 0rem;
    }

    .games .ninjas div h1,
    .games .battle div h1 {

        font-size: 2rem;
    
    }

    .experience .built .title h1 {
        
        font-size: 1.5rem;
        width: 100%;
    }

    .experience .built .experience-text p {
        
        width: 100%;

    }

    .experience .built .experience-text p {

        width: 100%;
    }

    .experience .built .learn-btn {
        width: 100%;
    }

    .experience .black-style,
    .experience .black-style img {

        width: 100%;

    }

}

@media (max-width: 768px) {

    .gaming-pc {
    
       flex-direction: column;
       align-items: center;
    }

    .gaming-pc .desktop-purple {
       
        justify-content: center; 
        width: 65%;
        padding-bottom: 0;
    
    }

    .gaming-pc .details {

        width: 100%;
        align-items: center;
    }

    .gaming-pc .details .bld-text p {

        text-align: center;
    }

    .spects .spects-type {

        margin-bottom: 2rem;
    }
    .spects .spects-type article .info {

        width: 80%;
    }

    .experience {

        flex-direction: column;
    }

    .experience .built {

        width: 100%;
        align-items: center;
    }

    .experience .built .title {
        
        width: 100%;        
        text-align: center;
    }
    
    .experience .built .title h1 {
        
        text-align: center;
        margin: auto;
        margin-bottom: 1rem;
    }
    
    .experience .built .experience-text {
        
        width: 100%;
        text-align: center;
    }
    
    .experience .built .experience-text p {

        margin: auto;
        margin-bottom: 1rem;
    }

    .refurbished-info h1 {
        
        font-size: 2rem;
    }
}



@media (max-width: 1024px) {

    .gaming-pc .desktop-purple img {
        
        width: 70%;
        
    }

    .gaming-pc .details .bld-img {
        
        width: 60%;
    }

    .gaming-pc .details .bld-text {
        
        width: 75%;
    }

    .gaming-pc .details .btn-get-started {
    
        width: 40%;
    
    }


    .spects {

        flex-direction: column;
        align-items: center;
    }

    .spects .spects-type {
        
        width: 100%;
    }

}


@media (max-width: 1366px) {

    .spects .spects-type article .info {

        width: 70%;
    }

    .games {
        flex-direction: column;
        align-items: center;
    }

    .games .ninjas {
        
        background-position: center center;    
    }
    
    .games .battle {

        background-position: center top;

    }    

}





